@model testeDealer.Models.Cliente
@{
    ViewBag.Title = "Criar Cliente";
}

<h2>Criar Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NmCliente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NmCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NmCliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2 row">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Salvar" class="btn btn-primary btn-lg" />
            </div>
            <div class="col-md-offset-2 col-md-4">
                @Html.ActionLink("Voltar à lista", "Index", new object { }, new { @class = "btn btn-dark btn-lg" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    NmCliente: {
                        required: true,
                        maxlength: 100
                    },
                    Cidade: {
                        required: true,
                        maxlength: 100
                    }
                },
                messages: {
                    NmCliente: {
                        required: "Por favor, insira o nome do cliente.",
                        maxlength: "O nome não pode ter mais que 100 caracteres."
                    },
                    Cidade: {
                        required: "Por favor, insira a cidade.",
                        maxlength: "A cidade não pode ter mais que 100 caracteres."
                    }
                }
            });
        });
    </script>
}
